/* Eric Meyer's CSS reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}

/* David Brownman styling */

html {
	display: table;
	margin: 0 auto;
	width: 95%;
	max-width: 600px;
	height: 90%;
}

body {
	display: table-cell;
	vertical-align: middle;
	font-family: "Proxima Nova", "Segoe UI", "Lato", Tahoma, Arial, sans-serif;
}

::selection {
	color: #fff;
	background-color: #000;
}

::-moz-selection {
	color: #fff;
	background-color: #000;
}

h1, h2 {
	padding-left: 10px; /* to line up with image padding */
}

h1 {
	margin-bottom: .5em;
	font-size: 150%;
	font-weight: bold;
}

h2 {
	margin-bottom: 1em;
}

.links a {
	text-decoration: none;
}

.links img {
	width: 64px;
	height: 64px;
}

.links li {
	display: inline;
}
